<h2>Customer</h2>
<div class="select">
    <select name="slt-1" id="slt-1">
        <Option>New Customer</Option>
        <option value="1">Open A Bank Account</option>
        <option value="2">Open A Savings Investment Account</option>
        <Option value="3">Non-Resident Banking</Option>
        <option value="4">Temporary Resident Banking</option>
        <option value="5">Explore International Solutions</option>
    </select>
    <select name="slt-2" id="slt-2">
        <Option>Existing Customer</Option>
        <option value="1">Open A Bank Account</option>
        <option value="2">Open A Savings Investment Account</option>
        <option value="3">Debit Order Switchhing</option>
        <option value="4">Foreign Exchange</option>
        <option value="5">Get Prepaid Gift Card</option>
        <option value="6">Open A Shari'ah investment Account</option>
        <Option value="7">Non-Resident Banking</Option>
        <option value="8">Temporary Resident Banking</option>
        <option value="9">Explore International Solutions</option>
    </select>
</div>