<div class="component-content">

    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <h2 class="card-title">Hello
                        <small class="text-muted">there</small></h2>
                    <p>Welcome to Standard Bank</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    &nbsp;
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <label for="selNewCustomer">New Customer</label>
                    <select id="selNewCustomer" class="form-control" [(ngModel)]="newCustomerProduct.id" (change)="SelNewCustomerChanged($event)">
                        <option [ngValue]="0">(Please Select)</option>
                        <option [ngValue]="1">Open A Bank Account</option>
                        <option [ngValue]="2">Open A Savings Investment Account</option>
                        <option [ngValue]="3">Non-Resident Banking</option>
                        <option [ngValue]="4">Temporary Resident Banking</option>
                        <option [ngValue]="5">Explore International Solutions</option>
                    </select>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <label for="selExistingCustomer">Existing Customer</label>
                    <select id="selExistingCustomer" class="form-control" [(ngModel)]="existingCustomerProduct.id" (change)="SelExistingCustomerChanged($event)">
                        <option [ngValue]="0">(Please Select)</option>
                        <option [ngValue]="1">Open A Bank Account</option>
                        <option [ngValue]="2">Open A Savings Investment Account</option>
                        <option [ngValue]="3">Debit Order Switchhing</option>
                        <option [ngValue]="4">Foreign Exchange</option>
                        <option [ngValue]="5">Get Prepaid Gift Card</option>
                        <option [ngValue]="6">Open A Shari'ah investment Account</option>
                        <option [ngValue]="7">Non-Resident Banking</option>
                        <option [ngValue]="8">Temporary Resident Banking</option>
                        <option [ngValue]="9">Explore International Solutions</option>
                    </select>
                </div>
            </div>
            <div class="row justify-content-center card-footer">
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    <button class="btn btn-primary mt-5" (click)="QueueCustomer()">Submit</button>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>