html {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
}

body {
    background-color: transparent !important;
    min-height: 0 !important;
    height: auto !important;
}

.component-content {
    margin-top: 30px;
    min-height: 300px;
}

.account-alert {
    position: fixed !important;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 100;
}

.dropdown-item {
    cursor: pointer;
}

.loader-page-cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9000;
    padding: 0;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: calc(50vw - 60px);
    margin-top: calc(50vh - 60px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* .toast-dock {
    width: 400px;
    height: 85vh;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    padding: 30px 30px 30px 30px;
}

.toast-dock .toast {
    position: relative;
    z-index: 100;
} */

.toast {
    position: fixed;
    right: 20px;
    width: 400px;
    z-index: 101;
}

.thin {
    font-weight: 100;
}

.main-logo {
    height: 40px;
}

.text-pink {
    color: #EE264D;
}

.bg-black {
    background-color: #000;
}

.home-text h2 {
    font-size: 4.5vh;
    font-family: 'Lobster', cursive;
}

.home-text blockquote {
    font-size: 2.3vh;
    font-weight: 100;
}

.home-text footer {
    font-size: 2vh;
    font-weight: bold;
}

.btn {
    margin-bottom: 10px;
}

.alert-spacer {
    height: 70px;
    width: 100%;
}

.content-box {
    margin-top: 120px;
    background: rgba(0, 0, 0, 0.5);
    padding: 25px;
    min-height: 80vh;
}

.no-background {
    background: none;
}

.semi-transparent-black-back {
    background: rgba(0, 0, 0, 0.5);
}

.badge {
    padding: 10px !important;
    white-space: normal !important;
    margin: 2px;
}

.badge a {
    cursor: pointer;
}

.badge-pill img {
    height: 40px;
    border-radius: 50%;
    margin: -10px 10px -10px -10px;
}

.edit-participant {
    margin: 0 13px 0 20px;
}

.invalid-card {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
    background-repeat: no-repeat !important;
    background-position: center right calc(.375em + .1875rem) !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
}

.invalid-card~.invalid-tooltip {
    display: block;
}

.valid-card {
    border-color: #28a745 !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: center right calc(.375em + .1875rem) !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
}

.valid-card~.invalid-tooltip {
    display: none;
}

.opacity-0 {
    opacity: 0;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-100 {
    opacity: 1;
}

.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: 0.1rem !important;
    left: -2rem !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
}

.custom-control-lg .custom-control-label {
    margin-left: 25px !important;
    font-size: 1rem !important;
}

.otp-box {
    padding-left: 15px !important;
    letter-spacing: 40px !important;
    border: 0 !important;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%) !important;
    background-position: bottom !important;
    background-size: 50px 1px !important;
    background-repeat: repeat-x !important;
    background-position-x: 35px !important;
    width: 300px !important;
    overflow: hidden !important;
}

.fill-green {
    background-color: green !important;
}

.fill-red {
    background-color: red !important;
}

.fill-orange {
    background-color: orange !important;
}

.bg-standardbank-blue {
    background-color: #0033A1;
}